<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Prayers Up</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="/css/style.css"></link>

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">

                    <!--Hamburger button -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Prayers Up</a>
                    </div><!--Navbar Header-->
                    
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                        <%if(!currentUser) {%>
                            <li><a href="/users/signin">Sign In</a></li>
                            <li><a href="/users/signup">Signup</a></li>
                        <% } else { %>
                            <li><a>Welcome <%= currentUser.username %></a></li>
                            <li><a href="/users/logout">Logout</a></li>
                        <% } %>
                       

                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
        </nav>  
