<% include partials/header %>

<div class="container">
    <div class="row">

            <h3 class="text-center section-header">About</h3>

            <div class="col-md-6">
                <p class="lead">Prayers Up is a sample project I created to reinforce my learning from <a href="https://www.udemy.com/the-web-developer-bootcamp/learn/v4/">The Web Developer Bootcamp</a> online course I took on <a href="https://www.udemy.com">Udemy</a>.  I took this course as my first real deep dive into Web Development.  It focused on HTML, CSS, Javascript, Bootstrap, Node.js, Express.js, and MongoDB.  For what it's worth, I would highly recommend this course to anyone looking to dig into Web Development.  The course was created by an amazing teacher, <a href="https://www.udemy.com/user/coltsteele/">Colte Steele</a>.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="img/wdb.png" alt="">
            </div>  
        </div>  
        <br>
        <br>
        <div class="row">
                <p class="lead">In addition to the learning aspect of this project, it all has a personal meaning and potential social impact.  My father passed away in July of 2016.  After losing my mother jsut a few years before, this was a very tough one for me to deal with.  Out of all the texts, messages, etc. simple comments like "Prayers Up" stood out to me.  They didn't need to say much.  Two words said enough to show me that people had my back and were thinking of me.  So, I wanted to create a web application where people could post tough situations that they are going through and get support from people all over the world.  That's how Prayers Up was born.</p>
        </div>
                
    </div>
    
</div>

<% include partials/footer %>

