<% include partials/header %>

  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="homeJumbotron" class="jumbotron">
      <div class="container">
        <h1>Prayers Up</h1>
        <p>This website was created to help those who are in need during tough times.  As a user, feel free to post about any difficult time you are facing and receive support from others all around the world.  Although we might feel alone when going through tough times, I believe the power is in ourselves to lift each other up and persevere.</p>
        <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn More</a></p>
      </div>
    </div>
    

<% include partials/footer %>

